header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to right, #000000, #1a0d03, #b85c12, #f28c28);
  border-bottom: 2px solid #f28c28;
  border-radius: 10px;
}
